.welcome-message {
    text-align: center; 
    padding: 20px;
    margin-bottom: 20px; 
    background-color:#e9ecef;
    border-radius: 8px;

  }
  
  .welcome-message h1 {
    color: #333;
    font-size: 2rem; 
  }
  
  .welcome-message p {
    color: #555; 
    font-size: 1.2rem; 
  }
  